/* CSS variables */
:root {
  /* Colors */
  --darkCyan: hsl(192, 100%, 9%);
  --cyan: hsl(193, 100%, 96%);
  --pink: hsl(322, 100%, 66%);
  --shadow: rgba(0, 37, 46, 0.08);
}

html {
  box-sizing: border-box; /* Prevents element padding from changing the size of elements. */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--darkCyan);
}

body {
  margin: 0;
}

/* Page wrapper */
.wrapper {
}

/* Sections */
.showcase {
  display: grid;
  grid-template-areas:
    "nav"
    "txt1"
    "img1";
  height: auto;
  min-height: 100vh;
  background-color: var(--cyan);
  background-image: url("images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.main-nav {
  margin: 1rem 1rem 0rem;
  height: 10vh;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  margin: 1rem 1.75rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
  grid-area: txt1;
  justify-content: center;
  align-items: center;
}

.intro-display {
  margin: 3rem 0rem 1rem;
  height: 40vh;
  grid-area: img1;
}

.feature-1 {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 4rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 15px 3px var(--shadow);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

.feature-2 {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 2rem 1rem 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 15px 3px var(--shadow);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

.feature-3 {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 2rem 1rem 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 15px 3px var(--shadow);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

.action-call {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  margin: 0rem 1rem;
  padding: 1rem 0 2rem;
  top: -15vh;
  background-color: white;
  color: var(--darkCyan);
  text-align: center;
  box-shadow: 0px 2px 15px 3px var(--shadow);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  top: 15vh;
  margin-top: 4rem;
  background-color: var(--darkCyan);
  color: white;
}

.footer-content {
  position: relative;
  top: -8vh;
  margin: 0 1rem;
  line-height: 2em;
}

.contact {
  margin-top: 2em;
  display: grid;
  grid-template-areas:
    "icon1 text1"
    "icon2 text2"
    "icon3 text3";
  align-items: baseline;
}

.footer-text {
  line-height: 1.5em;
}

.social {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.social>* {
  margin: 0 0.5em;
}

/* Text */
.contact p {
  margin-left: 1em;
}

h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

ul {
  margin-top: 2em;
  list-style-type: none;
  padding: 0;
}

.address-text {
  grid-area: text1;
}

.phone-text {
  grid-area: text2;
}

.email-text {
  grid-area: text3;
}

.copyright {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

/* Images */
.img {
  max-width: 80%;
}

.logo-img {
  width: 7rem;
}

.intro-img {
  width: 25rem;
}

.footer-img {
  position: relative;
  width: 7rem;
}

.ping-icon {
  grid-area: icon1;
}

.phone-icon {
  grid-area: icon2;
}

.email-icon {
  grid-area: icon3;
}

/* Buttons */
.btn {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  box-shadow: 0px 2px 5px 2px var(--shadow);
  border-radius: 5rem;
}

.try-btn {
  padding: 0.3rem 1.5rem;
  background-color: white;
  color: var(--darkCyan);
  font-size: 0.65em;
}

.start-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 4rem;
  background-color: var(--pink);
  color: white;
  font-size: 0.70em;
}

.action-btn {
  margin-top: 0;
}
